<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row">
    <div class="col text-center">
      <h1>Keyboardless Hosptial GUI</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
            <div *ngFor="let param of paramsData">
                {{param}}: <input value={{asyncData[param]}}>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
