<!--The content below is only a placeholder and can be replaced.-->
<script>

  // Enable pusher logging - don't include this in production
  Pusher.logToConsole = true;

  var pusher = new Pusher('0d9a535805e414a1933f', {
    cluster: 'us3',
    forceTLS: true
  });


</script>

<p>
  Try publishing an event to channel <code>my-channel</code>
  with event name <code>my-event</code>.
</p>


<div class="container">
  <div class="row">
    <div class="col text-center">
      <h1>Keyboardless Hosptial GUI</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body">
          <!-- <script>
            var channel = pusher.subscribe('field-feed');
            channel.bind('field-event', this.getUser(), jquery('.pusher-channel').add('{{param}}: <input value={{asyncData[param]}}>')}
            );
          </script> -->
            <div class="pusher-channel" *ngFor="let param of paramsData">
                {{param}}: <input value={{asyncData[param]}}>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://js.pusher.com/4.4/pusher.min.js"></script>
<router-outlet></router-outlet>
